body {
    font-family: 'Roboto Flex', sans-serif;
}

p {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

section {
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px 20px 30px;
}

a {
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
}

footer {
    margin: 15px;
    border: 1px solid black;
}

footer p {
    text-align: center;
}

.fotoPerfil {
    box-shadow: 5px 10px 25px black;
    border-radius: 10px 20px 30px;
    filter: grayscale(86%);
    -webkit-filter: grayscale(86%);
    -moz-filter: grayscale(86%);
}

.textoColumna {
    column-count: 4;
    column-gap: 10px;
}