main .blog {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
}

main .entrada {
    display: flex;
    flex-direction: row;
}

main .entrada img {
    float: right;
    margin: 0 10px 15px 0;
    max-width: 200px;
    max-height: 200px;
}

main .entrada p {
    text-align: justify;
    margin: 0;
}

main .blog .item {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 25px;
}

main .blog .item .texto-blog {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    flex-direction: column;
}

main .blog .item .texto-blog p {
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    margin: 0;
    text-align: justify;
    max-height: 75px;
}

main .blog-item {
    display: flex;
    width: 100%;
    flex-direction: column;
}

main .blog-item .banner {
    display: flex;
    flex-direction: column;
    background-color: #01736c;
    background-image: url('../../../public/images/code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    justify-content: center;
    opacity: 0.9;
}

main .blog-item .banner h2 {
    display: flex;
    opacity: 1;
    justify-content: center;
    color: white;
    letter-spacing: 0.2rem;
    background-color: rgba(0, 0, 0, 0.509);
}

main .blog-item .text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px 20px;
}

main .blog-item .text p {
    margin: 5px;
}
